__pycache__/
*.py[cod]

# Python environments
venv/
.venv/

# Training outputs
runs/
logs/
reports/

# Model weights
*.pt
*.onnx
*.engine

# Dataset images/labels
dataset/train/
dataset/valid/
dataset/test/

# Ultralytics cache
*.cache
